soundfile
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
torchtext==0.16.0
audiocraft==1.4.0a2
xformers<0.0.23
einops
demucs
pystoi
sentencepiece
transformers>=4.31.0
protobuf
spacy==3.7.6
tqdm
torchdiffeq
torchmetrics
av==11.0.0
omegaconf
markupsafe==2.0
pyyaml
ffmpeg-python